* {
    padding: 0px;
    margin: 0px;
}

:root {
    --main-color: #F2C063;
    --second-color: #F2D0A7;
    --white: #f2f2f2;
    --dark: #1C1C26;
}

body {
    font: normal 18px/1.5 "lato", sans-serif;
    background-color: var(--second-color);
    color: var(--dark)
}

.container {
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    height: 100vh;
}

.left {
    background-image: url(/allec-gomes-CqPjQBJOXWA-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: none;
    width: 40vw;
}

.right {
    width: 60vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 30px;
}

.right-text {
    margin-left: 30px;
    width: 80%;
}

.remote-text {
    margin-top: 30px;
}

.form-container {
    display: flex;
    flex-flow: column;
    gap: 30px;
    margin-left: 30px;
}

.form-field {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding: 20px;
    width: 80%;
    background-color: var(--main-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-title {
    width: 100%;
}

.form-input {
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    opacity: 60%;
    text-transform: uppercase;
    font-size: 1.0rem;
}

input {
    height: 25px;
    border: none;
    margin-top: 5px;
}

input:focus {
    outline: none;
    background-color: var(--second-color);
}

button {
    padding: 10px 20px;
    background-color: var(--main-color);
    color: var(--dark);
    font-family: lato, sans-serif;
    font-size: 1.2rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.log-in {
    text-decoration: none;
    color: var(--main-color);
}



@media screen and (max-width: 600px) {
    .container {
        flex-flow: column;
        height: auto;
        text-align: center;
    }

    .left {
        width: 100vw;
        height: 15vh;
        display: flex;
        background-size: 100vw;
    }

    .right {
        width: auto;
        height: auto;
    }

    .form-field {
        flex-flow: column nowrap;
        align-items: center;
    }
}